*{
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.justify-center{
    justify-content: center;
}

.flex{
    display: flex;

}

.iteam{
    align-items: center;
}

  

.logo{
    width: 25px;

}

.Search{
    width: 5px;
    list-style: none;
}

.black-bg{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.home{
    padding: 10px;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;

}
.p-1{
    padding: 10px;
}